* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  width: max-content;
  margin: 0 auto;
}

.nav-list-item {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.active {
  color: red;
}

.list-item {
  text-decoration: none;
  color: black;
}

.form-container {
  width: 300px;
  height: 90vh;
  display: flex;
  margin: auto;
  align-items: center;
  gap: 10px;
}

.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: inherit;
}

.button {
  background-color: #b4ce9170;
  border-radius: 2rem;
  border: none;
  outline: 1px solid #b4ce91da;
  padding: 6px 12px;
}

.input {
  border: none;
  outline: 1px solid #b4ce91da;
  padding: 6px 12px;
  width: inherit;
  border-radius: 1rem;
}

.input:focus {
  outline: 1px solid #b4ce91da;
}

.login-button {
  font-size: 1.5rem;
  display: block;
  width: 100px;
  margin: 0 auto;
}

/* спиннер для Fallback */
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #b4ce91;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* ------------- */
